// Custom styles.
::-webkit-scrollbar-thumb {
  /* height: 60px; */
  background-color: #c5ccd4;
  -webkit-border-radius: 10px;
  outline: #c6ced7 solid 2px;
  outline-offset: -2px;
  border: 2px solid #c6ced7;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  width: 6px;
  height: 9px;
}
